# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Build Output
dist/
dist-ssr/
*.local

# Logs & Temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
*.log

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
